<div class="container content-page">
    <div class="container-data1 pt-2 pb-3" style="width: 100%;">
        <div class="col c-listado">
          <h3>Listado de Categorias</h3>
          <div class="text-end">
            <button (click)="fnShowForm()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm" data-bs-whatever="@mdo">Nuevo</button>
          </div>

          <div *ngIf="showForm">
            <div class="box-con-borde">
              <div class="legend-simulada">Información</div>
              <div class="contenido">
                <form id="formData" (ngSubmit)="handleGuardar()" #form="ngForm">
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nombre <span class="text-danger">*</span></label>
                    <input type="hidden" id="idData" name="id" [(ngModel)]="id" />
                    <input name="nombre" [(ngModel)]="nombre" type="text" class="form-control" id="txtNombre" placeholder="Ingresar Nombre">
                  </div>
                  <div class="form-footer d-flex justify-content-center gap-2">
                    <button type="button" class="btn btn-secondary" (click)="fnHideForm()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col"># Productos</th>
                  <th scope="col" class="col-auto">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of datosList">
                    <td>{{ data.id }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.nroproductos }}</td>
                    <td class="text-end">
                      <input class="btn btn-primary" type="button" value="Editar" (click)="fnEdit(data.id)" />
                      &nbsp;<input *ngIf="data.nroproductos === 0" class="btn btn-danger " type="button" value="Eliminar" (click)="handleDelete(data.id)" />
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
      </div>
</div>

